// CONTAINER
// BORDER
/* .border{
    border: 1px solid red
}
 */
/* .border-3{
    border: 1px solid orange
} */
.border-none{
    border: none;
}
.radius-10px{
    border-radius: 10px;
}
.radius-30px{
    border-radius: 30px;
}
// CONTAINER
.container{
    width: 70%;
    margin: 0 auto;
}
// MARGINS
.mx-1{
    margin:0 20px;
}
.mx-2{
    margin:0 40px;
}
.my-1{
    margin: 15px 0;
}
.my-2{
    margin: 25px 0;
}
.my-3{
    margin: 40px 0;
}
.my-4{
    margin: 60px 0;
}
.ms-1{
    margin-left: 10px;
}
.ms-2{
    margin-left: 40px;
}
.me-1{
    margin-right: 20px;
}
.me-2{
    margin-right: 40px;
}
.me-3{
    margin-right: 60px;
}
.mt-2{
    margin-top: 25px;
}
.mt-3{
    margin-top: 40px;
}
.mt-4{
    margin-top: 60px;
}
.mt-6{
    margin-top: 100px;
}
.mb-1{
    margin-bottom: 15px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-25px{
    margin-bottom: 25px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-4{
    margin-bottom: 60px;
}
.mb-5{
    margin-bottom: 80px;
}
.mb-6{
    margin-bottom: 100px;
}
.mb-8{
    margin-bottom: 140px;
}
// PADDING

.py-2{
    padding: 20px 0;
}
.py-3{
    padding: 30px 0;
}
.py-6{
    padding: 100px 0;
}
.pb-4{
    padding-bottom: 60px;
}
.pt-2{
    padding-top: 25px;
}
.pt-5{
    padding-top: 80px;
}
.px-3{
    padding: 0 5px;
}
// DISPLAY
// flex
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-column{
    flex-direction: column;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.align-self-end{
    align-self: end;
}
.align-self-center{
    align-self: center;
}
// block & none
.d-none{
    display: none;
}
.d-block{
    display: block;
}
// POINTER
.pointer{
    cursor: pointer;
}
// TEXT
.text-decoration-none{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.fs-min{
    font-size: 16px;
}
.fs-1{
    font-size: 20px;
}
.fs-2{
    font-size: 40px;
}
.fs-3{
    font-size: 60px;
}
.fw-bold{
    font-weight: bold;
}
.fw-normal{
    font-weight: normal;
}
.text-white{
    color: white;
}
.line-height-25{
    line-height: 25px;
}
// HEIGTH & WIDTH
.w-100{
    width: 100%;
}
.w-70{
    width: 70%;
}
.h-100px{
    height: 100px;
}
.h-100vh{
    height: 100vh;
}
.h-100{
    height: 100%;
}
// LIST & LINK
.list-none{
    list-style: none;
}
// OUTLINE
.outline-none{
    outline: none;
}
// BUTTONS
.btn{
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 17px;
}
.btn-green{
    background-color: #3d6f42;
    color: #fff;
    transition: background-color .3s;
    &:hover{
        background-color: #2a4d2e;
    }
}
// POSITION
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.p-absolute.centering{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p-fixed{
    position: fixed;
}