// COLOR CUBE
$lightGray: #f3f4f3;

$greenKelp: #1e3020;

$naturalGrey: #978f88;

$pottersClay: #855136;

$saffron: #f4c933;

$ming: #35697c;

$mandysPink: #efbeb0;

$morningGlory: #8bd3df;

$amaranth: #e52b51;

$apple: #59b742;

// MEDIANT CUT
$heavyMetal: #2a382a;

$westar: #dcd5d0;

$capePalliser: #a66044;

$bayLeaf: #77ab82;

$slateGray: #79849a;

// MATERIAL DESIGN
$sepiaSkin: #a46042;

$bandicoot: #7c7c72;

$sepia: #6e3b15;

$taupe: #463a32;

$dawnPink: #faf4f4;

